apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: hpa-word-pdf-converter
  namespace: wpc-ns
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: word-pdf-converter-app
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 5
